<div class=background-landing>
  <app-header></app-header>
  <div class="page-content-landing">
    <div class="flex-box flex-center-h flex-center-v">
      <img src="assets/images/infography@2x.png" alt="banner-rappi" class="banner-img2x"/>
    </div>
    <app-whim-boxes></app-whim-boxes>
  </div>
  <div class="text-bottom">
    <span>*LOS ANTOJOS TIENEN UN RECARGO DEL 10%</span>
  </div>
</div>
