@mixin font-Montserrat {
  font-family: 'Montserrat', sans-serif;
}

@mixin font-Raleway {
  font-family: 'Raleway', sans-serif;
}

$sub-heading-font: 'Montserrat', sans-serif;
$secondary-font: 'Raleway', sans-serif;
$heading-font: "Bodoni SvtyTwo ITC TT Book";
$heading-font-italic: 'stix_two_textitalic';
$avenir-next: 'Avenir Next';
$font-AvenirNext-Regular: 'AvenirNext-Regular', sans-serif;
$font-avienier-med: 'AvenirNext-Medium', sans-serif;
$font-AvenirNext-DemiBold: 'AvenirNext-DemiBold', sans-serif;
$font-AvenirNext-Bold: 'AvenirNext-Bold', sans-serif;
$AvenirNext-Heavy: 'AvenirNext-Heavy', sans-serif;
$AvenirNext-MediumItalic: 'AvenirNext-MediumItalic', sans-serif;

@font-face {
    font-family: "Avenir Next";
    src: url("../assets/fonts/AvenirNext-Medium.ttf");
}

@font-face {
    font-family: "Avenir Next Bold";
    src: url("../assets/fonts/AvenirNext-Bold.ttf");
    font-weight: bold;
}

@font-face {
  font-family: 'AvenirNext-Regular';
  src: url('../assets/fonts/AvenirNext-Regular.ttf');
  src: url('../assets/fonts/AvenirNext-Regular.woff2') format('woff2'),
       url('../assets/fonts/AvenirNext-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirNext-Medium';
  src: url('../assets/fonts/AvenirNext-Medium.ttf');
  src: url('../assets/fonts/AvenirNext-Medium.woff2') format('woff2'),
       url('../assets/fonts/AvenirNext-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirNext-DemiBold';
  src: url('../assets/fonts/AvenirNext-DemiBold.ttf');
  src: url('../assets/fonts/AvenirNext-DemiBold.woff2') format('woff2'),
       url('../assets/fonts/AvenirNext-DemiBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirNext-Bold';
  src: url('../assets/fonts/AvenirNext-Bold.ttf');
  src: url('../assets/fonts/AvenirNext-Bold.woff2') format('woff2'),
       url('../assets/fonts/AvenirNext-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirNext-Heavy';
  src: url('../assets/fonts/AvenirNext-Heavy.ttf');
  src: url('../assets/fonts/AvenirNext-Heavy.woff2') format('woff2'),
       url('../assets/fonts/AvenirNext-Heavy.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirNext-MediumItalic';
  src: url('../assets/fonts/AvenirNext-MediumItalic.ttf');
  src: url('../assets/fonts/AvenirNext-MediumItalic.woff2') format('woff2'),
       url('../assets/fonts/AvenirNext-MediumItalic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bodoni';
  src: url('../assets/fonts/Bodoni.ttf');
  src: url('../assets/fonts/Bodoni.woff2') format('woff2'),
       url('../assets/fonts/Bodoni.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Bodoni SvtyTwo ITC TT Book";
  src: url("../assets/fonts/8bc773512e829a52d207976b43c0ecca.eot");
  src: url("../assets/fonts/8bc773512e829a52d207976b43c0ecca.eot?#iefix") format("embedded-opentype"),
  url("../assets/fonts/8bc773512e829a52d207976b43c0ecca.woff2") format("woff2"),
  url("../assets/fonts/8bc773512e829a52d207976b43c0ecca.woff") format("woff"),
  url("../assets/fonts/8bc773512e829a52d207976b43c0ecca.ttf") format("truetype"),
  url("../assets/fonts/8bc773512e829a52d207976b43c0ecca.svg#Bodoni SvtyTwo ITC TT Book") format("svg");
}



