
@import "fonts";
@import "_flex-mixins";


* {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

a { text-decoration: none;}

.flex-box {
	@include flexbox;
	&.flex-center-v {
	  @include align-items(center);
	}
	&.flex-center-h {
	  @include justify-content(center);
	}
}

@mixin placeholder {
  ::-webkit-input-placeholder {@content}
  :-moz-placeholder           {@content}
  ::-moz-placeholder          {@content}
  :-ms-input-placeholder      {@content}
}

@mixin background($imgpath,$position:0 0,$repeat: no-repeat) {
  background: {
    image: url($imgpath);
    position: $position;
    repeat: $repeat;
  }
}

.banner-img2x {
	width: 288px;
	height: auto;
}

.background-landing {
	@include background('../assets/images/background@2x.jpg', 0 0);
	background-size: cover;
}

.header {
	@include justify-content(space-between);
	padding: 20px;
	>a {
		color: #FFF;
	}
}

.queries {
	@include flex-direction(column);
	@include align-items(center);
	padding: 20px;
	h3 {
		color: #000;
		margin-bottom: 10px;
	}
	input {
		height: 48px;
		width: 100%;
		padding: 15px;
		border: none;
		background-color: #ffdfc5;
		border-radius: 2px;
	}
	@include placeholder {
		color: #FFF;
	}
}

.directions {
	@extend .queries;
	input {
		background-color: transparent;
		border-bottom: 1px solid #FFF;
		color: #FFF;
	}
}

.text-bottom {
	font-size: 10px;
	text-align: center;
	color: #FFF;
	padding-bottom: 10px;
}
