<div class="queries flex-box flex-center-h">
  <h3>¿Qué quieres?</h3>
  <input type="text" placeholder="Escribe aquí lo que buscas…" [(ngModel)]="whimMessage"/>
</div>
<div class="directions flex-box flex-center-h">
  <h3>¿Qué quieres?</h3>
  <input type="text" placeholder="Lugar, negocio, dirección…" [(ngModel)]="whimAddress"/>
</div>
